/*
Author: Tuan ThaiManh
*/
/* 
    Created on : Jun 6, 2014, 9:10:32 PM
    Author     : Tuan
*/

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #f0f0f0;
    color:#000000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
