/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 24, 2014, 9:51:40 AM
    Author     : Tuan
*/
body {
    margin:0px;
    padding:0px;
    background-image: url('../images/background.jpg');
}

#container {
    padding:0px;
    width: 980px;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:0px;
}

#header {
    background-image:url('../images/banner.png');
    background-repeat:no-repeat;
    height: 130px;
    width:980px;
    background-color:#00aaaa;
}

#leftbar {
    display:inline;
    float:left;
    width:165px;
}
/* Leftbar */
#leftbar,
#leftbar ul,
#leftbar ul li,
#leftbar ul ul {  
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}
#leftbar ul {
    display:inline;
    float:left;
    width:165px;
}
#leftbar ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle;
}
#leftbar ul li.hover,
#leftbar ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
#leftbar ul ul {
    margin-top: 1px;
    visibility: hidden;
    position: absolute;
    top: 1px;
    left: 99%;
    z-index: 598;
    width: 100%;
}
#leftbar ul ul li {
    float: none;
}
#leftbar ul ul ul {
    top: 1px;
    left: 99%;
}
#leftbar ul li:hover > ul {
    visibility: visible;
}
#leftbar ul li {
    float: none;
}
#leftbar ul ul li {
    font-weight: normal;
}
/* Custom CSS Styles */
#leftbar {
    font-family: Segoe UI;
    font-size: 15px;
    width: 200px;
    background-color: #cecece;
}
#leftbar ul a,
#leftbar ul a:link,
#leftbar ul a:visited {
    display: block;
    color: #848889;
    text-decoration: none;
    font-weight: 300;
}
#leftbar > ul {
    float: none;
}
#leftbar ul {
    background: #fff;
}
#leftbar > ul > li {
    border-left: 3px solid #d7d8da;
}
#leftbar > ul > li > a {
    padding: 10px 20px;
}
#leftbar > ul > li:hover {
    border-left: 3px solid #00aaaa;
}
#leftbar ul li:hover > a {
    color: #00aaaa;
}
#leftbar > ul > li:hover {
    background: #f6f6f6;
}
/*content */
#content {
    display:inline;
    float:left;
    width:605px;
    padding:20px;
}
#contentall {
    display:inline;
    float:left;
    width:940px;
    padding:20px;
    background-color: white;
}

#rightbar {
    display:inline;
    float:right;
    width:140px;
}

.spacer {clear:both;}

#footer{
    margin-top: 30px;
    border-top: 3px solid #007bb6;  
}

p {
    text-align:justify;
}

/* Vertical menu */

#menubar,
#menubar ul,
#menubar li,
#menubar span,
#menubar a {
    margin: 0;
    padding: 0;
    position: relative;
    border: 0;
    line-height: 1;
    box-sizing: content-box;
}
#menubar {
    height: 49px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #eee9f0));
    background: -webkit-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    border-bottom: 2px solid #00aaaa;
    width: auto;
}
#menubar:after,
#menubar ul:after {
    content: '';
    display: block;
    clear: both;
}
#menubar a {
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #ececec));
    background: -webkit-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: linear-gradient(top, #fefefe 0%, #ececec 100%);
    color: #000;
    display: inline-block;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 49px;
    padding: 0 20px;
    text-decoration: none;
}
#menubar ul {
    list-style: none;
}
#menubar > ul {
    float: left;
}
#menubar > ul > li {
    float: left;
}
#menubar > ul > li > a {
    color: #000;
    font-size: 12px;
}
#menubar > ul > li:hover:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
}

#menubar > ul > li.active:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #00aaaa;
    margin-left: -10px;
}
#menubar > ul > li.active > a {
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    background: #ececec;
    background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
    background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
}
#menubar > ul > li:hover > a {
    background: #ececec;
    background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
    background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}


/* end */

/* Staff menubar */
#staff-menubar,
#staff-menubar ul,
#staff-menubar li,
#staff-menubar span,
#staff-menubar a {
    margin: 0;
    padding: 0;
    position: relative;
    border: 0;
    line-height: 1;
    box-sizing: content-box;
}
#staff-menubar {
    height: 49px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #eee9f0));
    background: -webkit-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    border-bottom: 2px solid #00aaaa;
    width: auto;
}
#staff-menubar:after,
#staff-menubar ul:after {
    content: '';
    display: block;
    clear: both;
}
#staff-menubar a {
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #ececec));
    background: -webkit-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: linear-gradient(top, #fefefe 0%, #ececec 100%);
    color: #000;
    display: inline-block;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 49px;
    padding: 0 20px;
    text-decoration: none;
}
#staff-menubar ul {
    list-style: none;
}
#staff-menubar > ul {
    float: left;
}
#staff-menubar > ul > li {
    float: left;
}
#staff-menubar > ul > li > a {
    color: #000;
    font-size: 12px;
}
#staff-menubar > ul > li:hover:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #00aaaa;
    margin-left: -10px;
}
#staff-menubar > ul > li:first-child > a {
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
}
#staff-menubar > ul > li.active:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #00aaaa;
    margin-left: -10px;
}
#staff-menubar > ul > li.active > a {
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    background: #ececec;
    background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
    background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
}
#staff-menubar > ul > li:hover > a {
    background: #ececec;
    background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
    background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
#staff-menubar .has-sub {
    z-index: 1;
}
#staff-menubar .has-sub:hover > ul {
    display: block;
}
#staff-menubar .has-sub ul {
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    left: 0;
}
#staff-menubar .has-sub ul li {
    *margin-bottom: -1px;
}
#staff-menubar .has-sub ul li a {
    background: #00aaaa;
    border-bottom: 1px dotted #00dddd;
    filter: none;
    font-size: 11px;
    display: block;
    line-height: 120%;
    padding: 10px;
    color: #ffffff;
}
#staff-menubar .has-sub ul li:hover a {
    background: #007777;
}

/* end */
/* Link in menu bar*/
a.link{
    text-decoration: none;
    color:#007bb6;
}
a.link:hover{
    color:#ffffff;
}
a.link:visited{
    //color: #007bb6;
}

a.link:active{
    color: #ffffff;
    
}
/* end */


/* Form login */
.form-input{
    width: 320px;
    height:1.67em;
    float: right;
}
.fieldset{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}
#login-form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

.button-center{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#login-error{
    text-align: center;
    color: #dd4b39;
}
/* end */

/*Create account*/
.create-account-label{
    font-weight: bold;
    color:#00aaaa;
}
.create-account-input{
    width: 260px;
    height: 1.67em;
}

#create-account-success{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
/* end */

/* table view account */
.heading{
    font-size: 20px;
    font-weight: bold;
}
.box{
    text-align: center;
}
.table{
    text-align: left;
    border:2px solid black;
    border-collapse: collapse;
}
.table-head {
    border-bottom: 2px solid black;
    background: #007bb6;
    color: white;
}

.title{
    font-size: 16px;
    font-weight: bold;
}
